@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
.App {
  text-align: center;
  
  font-family: 'Koulen', cursive;
  -webkit-text-fill-color: #bebebe;
  background: #000000;
}
* {background-color: black}

#button {
  border-radius: 15px;
  background: #000000;
  box-shadow:  9px 9px 19px #bebebe,
               -9px -9px 19px #000000;
  font-family: 'Koulen', cursive;
  -webkit-text-fill-color: #bebebe;
}

